In [1]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [86]:
traindf = pd.read_csv("train.csv")
traindf.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [87]:
trainclean = traindf.loc[:,['id','Gender','Age','Height','Weight','family_history_with_overweight','FAVC','FCVC','NCP','SMOKE','CH2O','SCC','FAF','TUE','NObeyesdad']]
trainclean.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,no,2.763573,no,0.000000,0.976473,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,no,2.000000,no,1.000000,1.000000,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,no,1.910378,no,0.866045,1.673584,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,no,1.674061,no,1.467863,0.780199,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,no,1.979848,no,1.967973,0.931721,Overweight_Level_II

In [88]:
columns_to_encode = ['Gender','family_history_with_overweight','FAVC','SMOKE','SCC','NObeyesdad']
labelencoder1 = LabelEncoder()
labelencoder2 = LabelEncoder()
labelencoder3 = LabelEncoder()
labelencoder4 = LabelEncoder()
labelencoder5 = LabelEncoder()
labelencoder6 = LabelEncoder()

In [89]:
trainclean['Gender'] = labelencoder1.fit_transform(trainclean['Gender'])
trainclean['family_history_with_overweight'] = labelencoder2.fit_transform(trainclean['family_history_with_overweight'])
trainclean['FAVC'] = labelencoder3.fit_transform(trainclean['FAVC'])
trainclean['SMOKE'] = labelencoder4.fit_transform(trainclean['SMOKE'])
trainclean['SCC'] = labelencoder5.fit_transform(trainclean['SCC'])
trainclean['NObeyesdad'] = labelencoder6.fit_transform(trainclean['NObeyesdad'])

In [90]:
trainclean.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,NObeyesdad
0,0,1,24.443011,1.699998,81.669950,1,1,2.000000,2.983297,0,2.763573,0,0.000000,0.976473,6
1,1,0,18.000000,1.560000,57.000000,1,1,2.000000,3.000000,0,2.000000,0,1.000000,1.000000,1
2,2,0,18.000000,1.711460,50.165754,1,1,1.880534,1.411685,0,1.910378,0,0.866045,1.673584,0
3,3,0,20.952737,1.710730,131.274851,1,1,3.000000,3.000000,0,1.674061,0,1.467863,0.780199,4
4,4,1,31.641081,1.914186,93.798055,1,1,2.679664,1.971472,0,1.979848,0,1.967973,0.931721,6

In [91]:
model = LogisticRegression(multi_class= 'multinomial',max_iter = 10000000)

In [92]:
Xtrain = trainclean.iloc[:,1:14]
Xtrain.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE
0,1,24.443011,1.699998,81.669950,1,1,2.000000,2.983297,0,2.763573,0,0.000000,0.976473
1,0,18.000000,1.560000,57.000000,1,1,2.000000,3.000000,0,2.000000,0,1.000000,1.000000
2,0,18.000000,1.711460,50.165754,1,1,1.880534,1.411685,0,1.910378,0,0.866045,1.673584
3,0,20.952737,1.710730,131.274851,1,1,3.000000,3.000000,0,1.674061,0,1.467863,0.780199
4,1,31.641081,1.914186,93.798055,1,1,2.679664,1.971472,0,1.979848,0,1.967973,0.931721

In [93]:
Ytrain = trainclean.iloc[:,14]
Ytrain.head()

0    6
1    1
2    0
3    4
4    6
Name: NObeyesdad, dtype: int32

In [94]:
model.fit(Xtrain,Ytrain)

LogisticRegression(max_iter=10000000, multi_class='multinomial')

In [100]:
testdf = pd.read_csv('test.csv')

In [101]:
cleantest =  testdf.loc[:,['id','Gender','Age','Height','Weight','family_history_with_overweight','FAVC','FCVC','NCP','SMOKE','CH2O','SCC','FAF','TUE']]
cleantest.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE
0,20758,Male,26.899886,1.848294,120.644178,yes,yes,2.938616,3.000000,no,2.825629,no,0.855400,0.000000
1,20759,Female,21.000000,1.600000,66.000000,yes,yes,2.000000,1.000000,no,3.000000,no,1.000000,0.000000
2,20760,Female,26.000000,1.643355,111.600553,yes,yes,3.000000,3.000000,no,2.621877,no,0.000000,0.250502
3,20761,Male,20.979254,1.553127,103.669116,yes,yes,2.000000,2.977909,no,2.786417,no,0.094851,0.000000
4,20762,Female,26.000000,1.627396,104.835346,yes,yes,3.000000,3.000000,no,2.653531,no,0.000000,0.741069

In [102]:
cleantest['Gender'] = labelencoder1.transform(cleantest['Gender'])
cleantest['family_history_with_overweight'] = labelencoder2.transform(cleantest['family_history_with_overweight'])
cleantest['FAVC'] = labelencoder3.transform(cleantest['FAVC'])
cleantest['SMOKE'] = labelencoder4.transform(cleantest['SMOKE'])
cleantest['SCC'] = labelencoder5.transform(cleantest['SCC'])

In [103]:
cleantest.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE
0,20758,1,26.899886,1.848294,120.644178,1,1,2.938616,3.000000,0,2.825629,0,0.855400,0.000000
1,20759,0,21.000000,1.600000,66.000000,1,1,2.000000,1.000000,0,3.000000,0,1.000000,0.000000
2,20760,0,26.000000,1.643355,111.600553,1,1,3.000000,3.000000,0,2.621877,0,0.000000,0.250502
3,20761,1,20.979254,1.553127,103.669116,1,1,2.000000,2.977909,0,2.786417,0,0.094851,0.000000
4,20762,0,26.000000,1.627396,104.835346,1,1,3.000000,3.000000,0,2.653531,0,0.000000,0.741069

In [104]:
Xtest = cleantest.iloc[:,1:14]
Xtest.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE
0,1,26.899886,1.848294,120.644178,1,1,2.938616,3.000000,0,2.825629,0,0.855400,0.000000
1,0,21.000000,1.600000,66.000000,1,1,2.000000,1.000000,0,3.000000,0,1.000000,0.000000
2,0,26.000000,1.643355,111.600553,1,1,3.000000,3.000000,0,2.621877,0,0.000000,0.250502
3,1,20.979254,1.553127,103.669116,1,1,2.000000,2.977909,0,2.786417,0,0.094851,0.000000
4,0,26.000000,1.627396,104.835346,1,1,3.000000,3.000000,0,2.653531,0,0.000000,0.741069

In [105]:
result =  model.predict(Xtest)

In [106]:
resultdf = pd.DataFrame(result)
resultdf.head()

   0
0  3
1  5
2  4
3  2
4  4

In [107]:
resultdf['id'] = cleantest['id']
resultdf.columns = ['NObeyesdad','id']

In [108]:
# Supondo que 'trainclean' é o seu DataFrame
cols = list(resultdf.columns)

# Trocando o lugar da primeira e segunda coluna
cols[0], cols[1] = cols[1], cols[0]

# Aplicando a nova ordem das colunas ao DataFrame
resultdf = resultdf[cols]

In [109]:
resultdf['NObeyesdad'] = labelencoder6.inverse_transform(resultdf['NObeyesdad'])

In [110]:
resultdf.head()

      id          NObeyesdad
0  20758     Obesity_Type_II
1  20759  Overweight_Level_I
2  20760    Obesity_Type_III
3  20761      Obesity_Type_I
4  20762    Obesity_Type_III

In [111]:
resultdf.to_csv('LogisticRegression-v3.csv', index = False)