In [1]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [35]:
#Import Training Features
trainfeatures = pd.read_csv("dengue_features_train.csv")
trainlabels = pd.read_csv("dengue_labels_train.csv")
train =pd.merge(trainfeatures,trainlabels, on=['city','year','weekofyear'],how = 'inner')
train.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6

In [36]:
train.info()
#With this we can the DataSet have 2 categorical Features, but i judge them not effective for the accuracy of the model so i will drop them

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   city                                   1456 non-null   object
 1   year                                   1456 non-null   int64
 2   weekofyear                             1456 non-null   int64
 3   week_start_date                        1456 non-null   object
 4   ndvi_ne                                1262 non-null   float64
 5   ndvi_nw                                1404 non-null   float64
 6   ndvi_se                                1434 non-null   float64
 7   ndvi_sw                                1434 non-null   float64
 8   precipitation_amt_mm                   1443 non-null   float64
 9   reanalysis_air_temp_k                  1446 non-null   float64
 10  reanalysis_avg_temp_k                  1446 non-null   float64
 11  reanalysis_dew_point_temp_k            1446 non-null   float64
 12  reanalysis_max_air_temp_k              1446 non-null   float64
 13  reanalysis_min_air_temp_k              1446 non-null   float64
 14  reanalysis_precip_amt_kg_per_m2        1446 non-null   float64
 15  reanalysis_relative_humidity_percent   1446 non-null   float64
 16  reanalysis_sat_precip_amt_mm           1443 non-null   float64
 17  reanalysis_specific_humidity_g_per_kg  1446 non-null   float64
 18  reanalysis_tdtr_k                      1446 non-null   float64
 19  station_avg_temp_c                     1413 non-null   float64
 20  station_diur_temp_rng_c                1413 non-null   float64
 21  station_max_temp_c                     1436 non-null   float64
 22  station_min_temp_c                     1442 non-null   float64
 23  station_precip_mm                      1434 non-null   float64
 24  total_cases                            1456 non-null   int64
dtypes: float64(20), int64(3), object(2)
memory usage: 284.5+ KB

In [37]:
#Dropping Not Useful Features and Null rows
traindropna = train.dropna()
traindropfeatures = traindropna.drop(columns=['year','weekofyear','week_start_date'])
traindropfeatures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1199 entries, 0 to 1455
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   city                                   1199 non-null   object
 1   ndvi_ne                                1199 non-null   float64
 2   ndvi_nw                                1199 non-null   float64
 3   ndvi_se                                1199 non-null   float64
 4   ndvi_sw                                1199 non-null   float64
 5   precipitation_amt_mm                   1199 non-null   float64
 6   reanalysis_air_temp_k                  1199 non-null   float64
 7   reanalysis_avg_temp_k                  1199 non-null   float64
 8   reanalysis_dew_point_temp_k            1199 non-null   float64
 9   reanalysis_max_air_temp_k              1199 non-null   float64
 10  reanalysis_min_air_temp_k              1199 non-null   float64
 11  reanalysis_precip_amt_kg_per_m2        1199 non-null   float64
 12  reanalysis_relative_humidity_percent   1199 non-null   float64
 13  reanalysis_sat_precip_amt_mm           1199 non-null   float64
 14  reanalysis_specific_humidity_g_per_kg  1199 non-null   float64
 15  reanalysis_tdtr_k                      1199 non-null   float64
 16  station_avg_temp_c                     1199 non-null   float64
 17  station_diur_temp_rng_c                1199 non-null   float64
 18  station_max_temp_c                     1199 non-null   float64
 19  station_min_temp_c                     1199 non-null   float64
 20  station_precip_mm                      1199 non-null   float64
 21  total_cases                            1199 non-null   int64
dtypes: float64(20), int64(1), object(1)
memory usage: 215.4+ KB

In [38]:
#Checking Categorical columns 
print(traindropfeatures['city'].unique())
#Its is needed to apply Label Encoding
labelencoder = LabelEncoder()
traindropfeatures['city'] = labelencoder.fit_transform(traindropfeatures['city'])

['sj' 'iq']

In [39]:
#Treating features and Creating X and Y Variables
Xtrain = traindropfeatures.iloc[:,0:21]
Ytrain = traindropfeatures.iloc[:,21]

In [40]:
#Creating the Model and Training it
model = LinearRegression()
model.fit(Xtrain,Ytrain)

LinearRegression()

In [41]:
#Import Test Features
test = pd.read_csv("dengue_features_test.csv")
test.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [42]:
#Preprocessing
testdropna = test.dropna()
testdropfeatures = testdropna.drop(columns=['year','weekofyear','week_start_date'])

In [43]:
#Applying Label encoder
testdropfeatures['city'] = labelencoder.transform(testdropfeatures['city'])

In [44]:
#Making predictions
result = model.predict(testdropfeatures)

In [45]:
#Checking Result
print(result)
#Rounding as int
resultint = np.round(result).astype(int)
print(resultint)
#Turning into Dataframe and indexing
resultdf = pd.DataFrame(resultint)
resultdf['year'] = testdropna['year']
resultdf['weekofyear'] = testdropna['weekofyear']
resultdf['week_start_date'] = testdropna['week_start_date']
resultdf.rename(columns={"0":"total_cases"})

[ 2.21749480e+01  2.63895058e+01  3.06719344e+01  2.69536373e+01
  3.27009556e+01  3.65474282e+01  3.83755045e+01  2.86484013e+01
  4.37891615e+01  3.40275508e+01  3.94075415e+01  4.42772437e+01
  5.89053359e+01  4.50883465e+01  3.70982274e+01  3.96947507e+01
  3.90497043e+01  3.89264223e+01  3.10854634e+01  3.17287744e+01
  4.07440609e+01  3.83177302e+01  2.86157203e+01  2.48220390e+01
  1.95887425e+01  1.95154709e+01  1.91660108e+01  1.78406739e+01
  1.96520364e+01  2.07655523e+01  2.04476119e+01  2.04283727e+01
  1.78410388e+01  1.83809644e+01  1.57019888e+01  1.35162358e+01
  1.39647886e+01  1.80440753e+01  2.01776564e+01  1.87264940e+01
  1.84568681e+01  1.93604946e+01  2.18890423e+01  2.74404131e+01
  2.71711354e+01  3.08663748e+01  3.43690970e+01  3.19029474e+01
  3.59898376e+01  3.59022635e+01  3.96498034e+01  3.93943605e+01
  4.25423941e+01  3.34910964e+01  3.78618872e+01  3.67441706e+01
  4.26292844e+01  4.24864444e+01  3.53293833e+01  4.17782498e+01
  4.47197869e+01  3.52379640e+01  3.62533780e+01  3.30641876e+01
  2.70500389e+01  2.92274138e+01  2.43437373e+01  2.48218859e+01
  2.39448143e+01  3.28394577e+01  2.76868809e+01  2.00243060e+01
  2.37739494e+01  2.37643248e+01  2.97354865e+01  2.30091630e+01
  2.69483668e+01  2.36947310e+01  1.79559119e+01  2.12179111e+01
  3.76251957e+01  3.31112561e+01  3.34114815e+01  3.91214367e+01
  3.65878707e+01  5.18030210e+01  4.30001928e+01  4.05572760e+01
  4.39329310e+01  4.34321015e+01  4.50425517e+01  4.55319346e+01
  4.52559018e+01  4.38221482e+01  4.35572447e+01  4.74118407e+01
  4.80025452e+01  5.03775801e+01  4.72612698e+01  4.59168843e+01
  4.75385867e+01  5.15090001e+01  4.09106157e+01  2.70798502e+01
  3.86373815e+01  4.02710955e+01  3.55131723e+01  2.09438412e+01
  1.96899037e+01  2.42920052e+01  2.40803266e+01  1.95654695e+01
  1.75478659e+01  1.88557002e+01  1.59062916e+01  1.80349992e+01
  2.00737132e+01  1.32816567e+01  1.26275034e+01  1.44666368e+01
  2.10100641e+01  2.30236715e+01  1.64306904e+01  1.19397654e+01
  2.44303813e+01  1.84465621e+01  3.66225582e+01  4.08109790e+01
  3.93275817e+01  4.65644227e+01  4.05577328e+01  3.88449880e+01
  4.00331734e+01  4.26202632e+01  4.20604536e+01  4.25905240e+01
  4.64738261e+01  3.87592553e+01  4.24623097e+01  3.81831897e+01
  4.13662019e+01  3.99117753e+01  3.45218841e+01  3.20509108e+01
  3.06215066e+01  3.82058610e+01  3.04996295e+01  3.35366609e+01
  3.37987266e+01  2.93628399e+01  1.78758911e+01  2.01715771e+01
  2.06105523e+01  2.01512460e+01  2.02622973e+01  1.66367047e+01
  1.70812015e+01  1.76707984e+01  1.88997950e+01  1.24746545e+01
  1.82645814e+01  1.47698924e+01  1.71969963e+01  1.76602416e+01
  2.20818569e+01  2.31347799e+01  2.16089923e+01  2.53323796e+01
  2.02031060e+01  2.74177270e+01  3.02277927e+01  3.48304743e+01
  3.42019975e+01  2.54199413e+01  3.17786529e+01  3.62873650e+01
  3.51621056e+01  3.61393543e+01  3.50242968e+01  3.82643763e+01
  3.93423361e+01  3.22472889e+01  3.36665265e+01  3.29371102e+01
  3.12635956e+01  3.65078964e+01  3.63777103e+01  4.05166698e+01
  3.74981645e+01  3.68206605e+01  3.98071643e+01  2.69706144e+01
  1.78196231e+01  1.93320816e+01  1.91433748e+01  1.97353265e+01
  1.60170237e+01  1.50165655e+01  2.27366296e+01  1.84715699e+01
  1.64198832e+01  1.09861359e+01  1.59548418e+01  1.81400484e+01
  1.87250431e+01  2.03315195e+01  1.92085588e+01  2.18288798e+01
  2.39527484e+01  2.00055015e+01  6.81252823e+00  2.47981260e+00
  1.96589973e+01 -7.52536184e-01 -2.47719563e+00  4.29675125e+00
  4.94532225e+00 -1.99600371e+00  9.75309333e+00  9.32862553e+00
  1.08049292e+01  2.70464685e+00  3.86893759e+00  8.95225331e+00
  2.98778450e+00  6.10299812e+00  1.83784504e+01  2.60242657e+01
  1.97223124e+01  1.10705375e+01  1.86229606e+01  1.19395005e+01
  1.57465489e+01  7.07262849e+00  2.88113614e+00  7.69551223e+00
  2.71089751e+00  9.12961240e+00  1.52940571e+01  1.88473462e+00
  1.08829195e+01  1.28562260e+01  1.14371064e+01  1.29520753e+01
  1.46648850e+01  7.56157045e+00  1.10546078e+01  1.14560389e+01
  1.96946728e+01  1.33391907e+01  8.65804589e+00  1.03037437e+01
  1.69408401e+01  1.89143238e+01  4.77134772e+00  6.15262811e+00
 -4.09070460e+00 -7.49882002e+00  7.78846609e-01  2.72810960e-01
 -1.48016455e+00 -1.75035926e+00  2.52978079e+00  5.26244990e+00
  1.50810206e+01  1.02703338e+01  9.96367393e+00  1.29754748e+01
  2.31281760e+01  1.48118523e+01  1.52777645e+01  2.16865649e+01
  1.71312037e+01  1.61139678e+01  1.59510538e+01  1.18587296e+01
  1.51780883e+01  1.59273938e+01  1.17429757e+01  8.92277550e+00
  1.47224603e+01  9.66122054e+00  1.21296532e+01  1.74313652e+01
  8.06710628e+00  4.55576702e+00  3.62559412e+00  1.02476107e+01
  9.55718652e+00  1.13170651e+01  1.02416631e+01  7.99316413e+00
  1.30106413e+01  1.75338252e+01  1.66596382e+01  1.29153376e+01
  8.84718263e-01  1.54307146e+01 -1.90488779e-01  7.61789160e+00
  3.75620755e+00 -2.36340683e+00  2.30156560e+00  5.28770950e+00
 -5.09326416e+00  9.62713184e+00  1.65482286e+00  4.19182903e+00
  3.54444801e-01  2.94403007e-02  1.16136883e+01  1.21378717e+01
  5.05005759e+00  6.38638276e-01  4.96265081e+00  8.24709360e+00
  1.69303166e+01  6.57763915e+00  2.36577710e+01  1.80333317e+01
  1.84437014e+01  2.32718861e+01  2.08103623e+01  3.20580033e+01
  1.44531978e+01  1.85338054e+01  1.91916991e+01  1.28113221e+01
  6.69507856e+00  1.01900659e+01  1.51973638e+01  1.47963208e+01
  1.43399761e+01  5.91472675e+00  1.57796208e+01  6.85561988e+00
  1.03882111e+01  8.42422358e+00  1.77012164e+01  1.67699886e+01
  4.09433285e+00  9.69783210e+00  2.62059808e+01  1.30346719e+01
  3.29911539e+00  1.38979335e+01  9.34183349e+00  1.10811094e+01
  9.65148216e+00  1.30284505e+01  6.92627171e+00 -9.39778130e+00
 -4.09972066e-01]
[22 26 31 27 33 37 38 29 44 34 39 44 59 45 37 40 39 39 31 32 41 38 29 25
 20 20 19 18 20 21 20 20 18 18 16 14 14 18 20 19 18 19 22 27 27 31 34 32
 36 36 40 39 43 33 38 37 43 42 35 42 45 35 36 33 27 29 24 25 24 33 28 20
 24 24 30 23 27 24 18 21 38 33 33 39 37 52 43 41 44 43 45 46 45 44 44 47
 48 50 47 46 48 52 41 27 39 40 36 21 20 24 24 20 18 19 16 18 20 13 13 14
 21 23 16 12 24 18 37 41 39 47 41 39 40 43 42 43 46 39 42 38 41 40 35 32
 31 38 30 34 34 29 18 20 21 20 20 17 17 18 19 12 18 15 17 18 22 23 22 25
 20 27 30 35 34 25 32 36 35 36 35 38 39 32 34 33 31 37 36 41 37 37 40 27
 18 19 19 20 16 15 23 18 16 11 16 18 19 20 19 22 24 20  7  2 20 -1 -2  4
  5 -2 10  9 11  3  4  9  3  6 18 26 20 11 19 12 16  7  3  8  3  9 15  2
 11 13 11 13 15  8 11 11 20 13  9 10 17 19  5  6 -4 -7  1  0 -1 -2  3  5
 15 10 10 13 23 15 15 22 17 16 16 12 15 16 12  9 15 10 12 17  8  5  4 10
 10 11 10  8 13 18 17 13  1 15  0  8  4 -2  2  5 -5 10  2  4  0  0 12 12
  5  1  5  8 17  7 24 18 18 23 21 32 14 19 19 13  7 10 15 15 14  6 16  7
 10  8 18 17  4 10 26 13  3 14  9 11 10 13  7 -9  0]

      0    year  weekofyear week_start_date
0    22  2008.0        18.0      2008-04-29
1    26  2008.0        19.0      2008-05-06
2    31     NaN         NaN             NaN
3    27     NaN         NaN             NaN
4    33  2008.0        22.0      2008-05-27
..   ..     ...         ...             ...
348  10  2012.0        10.0      2012-03-11
349  13  2012.0        11.0      2012-03-18
350   7  2012.0        12.0      2012-03-25
351  -9  2012.0        13.0      2012-04-01
352   0  2012.0        14.0      2012-04-08

[353 rows x 4 columns]

In [61]:
#Exporting
result_csv = resultdf.to_csv('LinearRegression Result.csv',index= False)

# Results:
* So i was stupid and droped NaN values, the competition didn't accept at first so i will remake this tomorrow 
# What to do next:
* I think i will fill NaN values with the Median of the feature values